@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* WEEK STYLING */

.week-overview {
  display: flex;
}

.week-overview .hour-reference {
  list-style-type: none;
  padding: 0;
  margin-top: 59px;
  width: 400px;
  font-size: 13px;
}

.week-overview .hour-reference li {
  min-height: 46px;
  text-align: center;
  padding: 8px
}

.week-overview ul li:nth-child(odd) {
  background-color: #f3f3f3
}

/* DAY STYLING */

.day-overview {
  width: 100%;
}

.day-overview .header {
  text-align: center;
}

.day-overview .date {
  font-size: 15px;
}

.day-overview .day-of-week {
  font-size: 18px;
  color: rgb(150, 150, 150);
  padding-top: 4px;
}

.day-overview ul {
  font-size: 15px;
  list-style-type: none;
  padding: 0;
  border-left: 1px solid #dfdfdf;
}

.day-overview ul li {
  min-height: 46px;
  padding: 8px
}

.day-overview ul li:nth-child(odd) {
  background-color: #f3f3f3
}
